.filter {
	&__label {
		display: flex;
		align-items: center;
		gap: 10px;
		border-bottom: 1px solid #dee2e6;
		padding: 15px 15px 15px 35px;
		cursor: pointer;

		&:last-child {
			border-bottom: none;
		}
	}
}
#filter__applied {
	display: none;
	position: absolute;
	top: -5px;
	right: -5px;
	width: 13px;
	height: 13px;
	background-color: #ff3838;
	border-radius: 50%;
}
